spring-boot-backend/HELP.md
spring-boot-backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/spring-boot-backend/src/main/**/target/
!**/spring-boot-backend/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/spring-boot-backend/src/main/**/build/
!**/spring-boot-backend/src/test/**/build/

### VS Code ###
.vscode/

